{% extends "base.html" %}
{% block body %}
  <div class="container">
    <h1>Attribute Types</h1>
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Unit</th>
          <th>Part</th>
          <th>Range</th>
          <th>Multi value</th>
          <th>Note</th>
        </tr>
      <thead>
      <tbody>
        {% for attr in attributes %}
        <tr>
          <td>{{attr.name|safe}}</td>
          <td><a href="{{ url_for('ui.units') }}?id={{attr.unit.id}}">{{attr.unit.label}}</a></td>
          <td>
            {% for part_map in attr.part_maps %}
              <a href="{{ url_for('ui.parts') }}?id={{part_map.part.id}}">{{part_map.part.name}}</a>{{ ',' if not loop.last else '' }}
            {% endfor %}
          </td>
          <td>{{'<i class="icon-ok"></i>'|safe if attr.from_to else ''}}</td>
          <td>{{'<i class="icon-ok"></i>'|safe if attr.multi_value else ''}}</td>
          <td>{{attr.note if attr.note else ''}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{ url_for('ui.attr_types') }}?download=json">Download JSON</a>
  </div>
{% endblock %}
