<!DOCTYPE html>
<html>
  <head>
    <title>HWDB</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<style type='text/css'>
/* Start the body _below_ the navbar */
body { padding-top: 40px; }

/* make room for long AttrType names */
.dl-horizontal dt { width: 260px; }
.dl-horizontal dd { margin-left: 280px; }

/* <li> with custom icon */
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -1.0em;
}
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
</style>
<script type="text/javascript">
$(function() {

$("i", "ul.collapsible").each(function(){
  $(this).click(function () {
    $(this).toggleClass('icon-minus').toggleClass('icon-plus');
    $(this).find('~ ul').toggle(100);
  })
});

});

</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
  <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">HWDB</a>
       <div class="nav-collapse" id="main-menu"><ul class="nav" id="main-menu-left">
        {% for href, name in menu_items.iteritems() %}
          <li><a href="{{href}}">{{name}}</a></li>
        {% endfor %}
       </div>
     </div>
   </div>
 </div>

    {% block body %}
    {% endblock %}
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
