{% extends "base.html" %}
{% block body %}
  <div class="container">
    <h1>{{part.name}}</h1>
    <ul class="breadcrumb">
      <li><a href="/parts">Part</a></li>
      {{parent_part_chain}}
    </ul>
    <dl>
    {% for attr_map in part.attr_maps %}
        <dt>{{attr_map.attr.attr_type.name}}<dt>
        <dd>
          {% if attr_map.attr.part_maps|length > 1 %}
            <a href="/attributes">
          {% endif %}
          {{attr_map.attr.attr_type.unit.format|safe % {'unit': attr_map.attr.value}}}<dd>
          {% if attr_map.attr.part_maps|length > 1 %}
            </a>
          {% endif %}

    {% endfor %}
    </dl>
  </div>
{% endblock %}
