{% extends "base.html" %}
{% block body %}
  <div class="container">
    <h1>{{part.name}}</h1>
    <ul class="breadcrumb">
      <li><a href="{{ url_for('ui.parts') }}">Part</a></li>
      {{parent_part_chain}}
    </ul>
    <dl class="dl-horizontal">
    {% for attr_map in part.attr_maps %}
        <dt>{{attr_map.attr.attr_type.name|safe}}</dt>
        <dd>
          {% if attr_map.attr.part_maps|length > 1 %}
            <a href="{{ url_for('ui.attributes') }}?attr_type={{attr_map.attr.attr_type.id}}&value={{attr_map.attr.value}}">
          {% endif %}
          {{attr_map.attr.attr_type.unit.format|safe % {'unit': attr_map.attr.value}}}<dd>
          {% if attr_map.attr.part_maps|length > 1 %}
            </a>
          {% endif %}

    {% endfor %}
    </dl>
  </div>
{% endblock %}
